*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.raleway-normal {
  font-family: "Raleway", sans-serif;
  font-optical-sizing: auto;
  font-style: normal;
}


.inter-normal{
  font-family: "Inter", sans-serif;
  font-optical-sizing: auto;
  font-style: normal;
}



/* Shared Styles */
a{
    text-decoration: none;
}
.text-center{
    text-align: center;
}
.btn-primary{
    width: 145px;
    height: 50px;
    background: #3631ab;
    overflow: hidden;
    border-radius: 10px;
    cursor: pointer;
    color: white;
    border: none;
}
.btn-primary:hover{
    background: linear-gradient(135deg, #6e8efb, #a777e3);
    transition: all 0.3s ease;
    color: #382e2e;
}
.bold{
    font-weight: bold;
}


header{
    background-image: url(images/Hero-bg.png);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}
nav{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 50px 150px;
}
.logo{
    font-size: 34px;
    font-weight: bold;
    color: #4E47FF;
}
.heading-content{
    padding: 158px 0;
}
.cool-dark{
    font-size: 65px;
    padding-bottom: 37px;
}

main{
    width: 1140px;
    margin: 0 auto;
}

.see-it-section{
    display: flex;
    justify-content: space-between;
    padding: 116px 0;
    align-items: center;
}
.action-section h2{
    font-size: 42px;
    font-weight: bold;
}
.action-section p{
    font-size: 26px;
    color: #a5a4c9;
    padding: 15px 0;

}
.see-it-section img{
    border-radius: 48px;
}


.productive-promotion h1{
    padding: 50px 0;
    font-size: 38px;
    font-weight: bold;
}
.productive-promotion{
    padding: 50px;
    background-color: #b4b3e4;
    border-radius: 24px;
    
}
.users-section{
    display: flex;
    justify-content: space-around;
}
.user-number{
    font-size: 80px;
    font-weight: bold;
    color: #4E47FF;
}
.user-text{
    font-size: 20px;
    font-weight: 400;
    color: #746667;
}

/* REVIEW SECTION */
.feedback-section{
    margin: 137px;
}
.feedback-section h2{
    font-size: 42px;
    font-weight: bold;
    color: #252432;
    margin-bottom:50px ;
}
.Feedback-container{
    display: flex;
    justify-content: space-around;
    gap: 20px;
}

.Cards{
    background-color:#e3e5eb;
    border-radius:14px;
    box-shadow: 0 5px 16px black;
    padding: 24px;
    width: 366px;
    text-align:left;
}

.card img{
    margin-bottom: 10px;
}

.card-title{
    font-weight: bold;
    margin-bottom: 10px;
}

.card-text{
    color: #B3B3B3;
    font-size: 15px;
    margin-bottom: 16px;
}
.reviewers{
    display: flex;
}

.reviewers img{
        border-radius: 20px;
}

.reviewers-details{
    font-size: 15px;
    color:#666;
}

.reviewers-details span{
    display: block;
    font-weight: 500;
    color: #333;
}





/* ready focus */

.ready-focus-heading h2{
    font-size: 50px;
    font-weight: bold;
    color: #000000;
    margin: 100px 0 25px;
}
.ready-focus-heading p{
    color: #7a6e6ed4;
    padding: 10px;
    margin-bottom: 10px;
}
.ready-focus img{
    
     margin: 25px;
    border-radius: 48px;
}



.contact-section{
    display: flex;
    justify-content: space-around;
    align-items: center;
    gap: 50px;
    padding: 80px 20px;
    width: 1140px;
    margin: 0 auto;

}
.content-heading{
   min-width: 550px;
}
.content-heading h1{
    font-size: 97px;
    font-weight: bold;
    color: #000000;
    line-height: 1.2;
}

.contact-form{
    border: none;
}
input,textarea{
    display: block;
    width: 497px;
    padding: 32px 20px;
    height: 70px;
    gap: 10px;
    border-radius: 10px;
    border: 1px solid #D6DDED;
}
textarea{
    height: 135px;
}
.contact-form label{
    display: block;
    font-size: 14px;
    font-weight: 600;
    margin-bottom: 6px;
    color: #333;
    margin-bottom: 6px;
    color: #746667;
}
.contact-form,.contact-form textarea{
    width: 100%;
    padding: 13px;
    margin-bottom: 20px;
    border-radius: 6px;
    font-size: 14px;
    color: #000000;
}
.contact-form textarea{
    padding: 32px 20px;
}
.contact-form button{
    display: block;
    width: 100%;
    font-size: 16px;
    font-weight: bold;
}
.contact-form label{
    font-size: 16px;
    font-weight: 400;
    color: #000000;
}
footer{
    margin: 104px 0;
}

.logo2{
    font-size: 100px;
    font-weight: bold;
    color: #4E47FF

}
.footer-text{
    font-size: 100px;
}
footer p{
    color: #8987A1;
    padding: 10px 12px;
}
footer a{
    padding-right: 20px;
    color: #8987A1;
}
